#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  max-width: 1250px;
}

.Profile,
.FriendList,
.TransactionHistory {
  margin-bottom: 2rem;
  /* або будь-який інший відступ */
}